.main__info{
  height: 0;
  width: 100%;
  position: relative;
  background: #000000;
  margin: 30px 0;
  overflow: hidden;
  transition: height 0.5s;
  &.active{
    height: 700px;
  }
  &-img{
    position: absolute;
    width: 60%;
    height: 100%;
    object-fit: cover;
    right: 0;
    top: 0;
    z-index: 1;
  }
  &-close{
    position: absolute;
    right: 30px;
    top: 30px;
    color: #ffffff;
    font-size: 16px;
    width: 56px;
    height: 56px;
    background: rgba(20, 20, 20, 0.7);
    border-radius: 56px;
    z-index: 50;
    cursor: pointer;
  }
  &-block{
    width: 100%;
    height: 100%;
    position: relative;
  }
  &-content{
    position: relative;
    z-index: 10;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #000000 40%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0) 67.73%);
    padding: 50px;
    &-text{
      max-width: 935px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 30px;
      h2{@include font(50px, 58px, #ffffff, 700); font-family: $r;}
      p{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        @include font(20px, 30px, #ffffff,); font-family: $r;
      }
    }
    &-tag{
      display: flex;
      align-items: center;
      li{
        @include font(20px, 30px, rgba(255, 255, 255, 0.6),700);
        font-family: $r;
      }
    }
    &-actors{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 123px;
      gap: 15px;
    }
  }
}
.actors{
  height: 54px;
  background: rgba(20, 20, 20, 0.5);
  border: 1px solid #FFFFFF;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 2px;
  gap: 10px;
  &-img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  &-name{
    @include font(16px, 30px, #ffffff);
    padding-right: 15px;
    font-family: $r;
  }
}